[access]
	inheritFrom = All-Projects
[project]
	description = ESR backend, mainly include the function of external system reachable check and data pretreatment\n\nDeprecated as per IT-20736
	state = read only
[access "refs/*"]
	owner = group saml/onap-gerrit-aai-esr-server-committers
	read = deny group GitHub Replication
[plugin "its-jira"]
	enabled = true
